$font-primary: 'Montserrat', sans-serif;
$font-header: 'Nunito', sans-serif;
$font-footer-logo: 'Poppins', sans-serif;
$font-footer: 'Work Sans', sans-serif;
$font-footer-btn: 'Raleway', sans-serif;

$color-primary: #156963;
$color-secondary: #2C1500;