mixin shop-banner
  .shop-banner
    .container
      .row.shop-banner-inner
        .col.left-col
          .banner-content
            h2.title Get your favourites plant on our shop now
            button.banner-btn Visit Shop
        .col.right-col
          img(src='/images/plant-with-hand.png')