mixin svg-image(icon)
  case icon
    when 'delivery-car'
      include ../../../../dist/svg/delivery-car.svg
    when 'headphones'
      include ../../../../dist/svg/headphones.svg
    when 'plant'
      include ../../../../dist/svg/plant.svg
    when 'dollar-symbol'
      include ../../../../dist/svg/dollar-symbol.svg
    when 'arrow-down'
      include ../../../../dist/svg/arrow-down.svg