@import '../../scss/vars';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-family: $font-header;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 1;
  padding-left: 50px;
}

.logo-text {
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
  color: #fff;

  position: absolute;
  top: 10px;
  left: 63px;
  z-index: 1;
}

.nav {
  display: flex;
}

.nav-icon {
  margin-top: 8px;
  margin-right: 40px;

  &:last-of-type {
    margin-right: 3px;
  }
}

.sign-btn {
  font-family: inherit;
  padding: 8px 31px;
  color: $color-primary;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  background-color: #fff;
  margin-bottom: 7px;
  transition: opacity .2s linear;

  &.sign-in {
    background-color: $color-primary;
    color: #FFFFFF
  }

  &:hover {
    opacity: .9;
  }
}