.plants {
  padding: 7px 0 5px;

  .carousel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E0E0E0;
  }

  .carousel-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-top: 4px;
  }

  .carousel-filter {
    padding: 7px 34px 7px 11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border: 1px solid #E0E0E0;
    position: relative;
  }

  .carousel-filter-arrow {
    position: absolute;
    top: 8px;
    left: 105px;
    z-index: 2;
  }

  .carousel-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
  }

  .carousel-plant {
    width: 18.65%;
    padding-bottom: 20px;
    border: 1px solid transparent;
    transition: border .1s linear;
    margin-bottom: 20px;

    &:hover {
      border-color: #f5f5f5;
      cursor: pointer;

      .plant-photo {
        transform: scale(1.1);
      }

      .plant-title {
        text-decoration: underline;
      }
    }
  }

  .plant-photo-container {
    overflow: hidden;
  }

  .plant-photo {
    transition: transform .5s ease;
  }

  .plant-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    margin: 18px 0 5px;
  }

  .plant-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }

}