@import '../../scss/vars';

.help-relax {
  padding: 70px 0;

  .help-relax-inner {
    display: flex;
    justify-content: space-between;
  }

  .left-col {
    flex-direction: column;
    width: 49%;

  }

  .right-col {
    width: 44%;
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: $color-secondary;
    margin: 10px 0 16px;
  }

  .image {
    margin: auto 0 0;
  }

  .text {
    font-size: 16px;
    line-height: 28px;
    color: $color-secondary;
  }

}