mixin help-relax
  .help-relax
    .container
      .row.help-relax-inner
        .col.left-col
          h2.title Buy more plants, it helps you to be relaxed
          p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida gravida aliquam. Pellentesque et lobortis nisl. Sed et mauris justo. Nulla eu enim non mauris maximus dignissim. Maecenas vitae eros sapien. Quisque pellentesque tempus dignissim.
          img(src='images/plant-art.png').image
        .col.right-col
          img(src='images/plant-art-2.png')
