

mixin footer
  .footer
    .container
      .footer-inner
        .contacts
          .footer-logo plantku
          .footer-title.contacts-title Plantku House
          .contacts-text Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282

        .links
          .links-col
            h4.footer-title Perusahaan
            a.link Tentang Kami
            a.link Hubungi Kami
          .links-col
            h4.footer-title Produk
            a.link Tanaman
            a.link Tanaman Lain
        .email
          .footer-title.email-title Berlangganan Email Kami
          form.email-form
            input.email-input(placeholder="Masukan Alamat Email")
            .email-button
              button.footer-btn(type='submit') Submit
